li.adv-dynamic-block-news-01-hidden {
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    min-height: 126px;
}

li.adv-dynamic-block-news-01 {
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    min-height: 126px;
    padding: 1.0rem 0rem .75rem 0rem;
}

div.adv-teaser-01 {
    white-space: normal;
    min-height: 126px;
    margin: 0 auto;
}

div.adv-text-01 {
    white-space: normal;
    margin: 0 auto;
}

div.adv-best-01 {
    white-space: normal;
    margin: 0 auto;
}