body {
    overflow-y: scroll;
    font-family: 'Roboto Slab', serif !important;
    background: #262626;
}

/* LAYOUT */

div.cr-container {
	height: calc(100vh - 83px);
}

div.footer {
    background: #191919;
    padding: .8rem 0rem .8rem 0rem;
    position: relative;
    width: 100%;
    bottom: 0px;
	height: 83px;
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}

.vh-100 {
    min-height:100vh;
}

/* SEPARATOR */

div.separator-large {
    height: 2.2rem;
    width: 2.2rem;
}

div.separator-medium {
    height: 1.2rem;
    width: 1.2rem;
}

div.separator-small {
    height: .7rem;
    width: .7rem;
}

div.content {
    display: flex;
    flex-direction: column;
}

/* FONT */

.fw-400 {
    font-weight: 400;
}

.rem-08 {
    font-size: 0.8rem;
}

.rem-1 {
    font-size: 1rem;
}

img.logo {
    width: 120px;
    height: 36px
}

/* COLORS */

.cr-white {
    color: #ffffff !important;
}

.cr-grey {
    color: #a8a8a8 !important;
}

.cr-red {
    color: #e74856 !important;
}

.cr-blue {
    color: #00b7c3 !important;
}

.cr-yellow {
    color: #ff9c00 !important;
}

.cr-op-0 {
    opacity: 0 !important;
}

.cr-op-1 {
    opacity: 1 !important;
}

/* LNK */

.cr-list-lnk {
    margin-right: 12px !important;
}

.cr-list-lnk:link {
    color: #ffffff;
}

.cr-list-lnk:visited {
    color: #ffffff;
}

.cr-list-lnk:hover {
    color: #ffffff;
}

.cr-list-lnk:active {
    color: #00b7c3;
}

/* SLIDER */

span.label {
    margin-left: 56px;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: #fff;
    transition: .2s;
}

input:checked+.slider {
    background-color: #e74856;
    border: 2px solid #e74856;
}

input:focus+.slider {
    box-shadow: 0 0 1px #e74856;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

/* LOADER */

.loader {
    border: 16px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top: 16px solid #00b7c3;
    border-bottom: 16px solid #e74856;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}