body {
    overflow-y: scroll;
}

div.separator-large {
    height: 2.2rem;
    width: 2.2rem;
}

div.separator-medium {
    height: 1.2rem;
    width: 1.2rem;
}

div.separator-small {
    height: .7rem;
    width: .7rem;
}

div.container {
    max-width: 1100px;
    min-width: 380px;
    width: 100%;
}

div.logo {
    background-color: #002D40;
    border-radius: .25rem;
    display:table-cell; 
    vertical-align:middle;
    text-align:center;
    padding: 6px 13px 7px 18px;
}

img.logo {
    width: 120px;
    height: 36px
}

div.footer {
    background-color: #002D40;
    width: auto;
    height: 100px;
}

blockquote.red {
    border-color: #7C050B;
    background-color: #fcf8e3;
}

blockquote.red strong {
    color: #7C050B;
}

blockquote.blue {
    border-color: #00446E;
}

blockquote.maxw-800 {
    max-width: 800px;
}