@media all and (max-width: 720px) {
    div.chart-container {
        height: 200px;
    }

    div.timeframes {
        width: 100px;
    }
}

@media all and (min-width: 721px) {
    div.chart-container {
        height: 360px;
    }

    div.timeframes {
        width: auto;
    }
}

.chart-loader {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 80px auto 0 auto;
}

canvas.chart {
    opacity: 0;
    z-index: 1;
    transition: 0.5s linear;
}

.switch-anm {
    opacity: 0;
    transition: 0.5s linear;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}