@media all and (max-width: 720px) {
    div.chart-container {
        height: 200px;
    }
}

@media all and (min-width: 721px) {
    div.chart-container {
        height: 360px;
    }
}

.timeframe-lnk {
    margin-right: 12px !important;
}

.timeframe-lnk:link {
    color: #ffffff;
}

.timeframe-lnk:visited {
    color: #ffffff;
}

.timeframe-lnk:hover {
    color: #ffffff;
}

.timeframe-lnk:active {
    color: #00b7c3;
}

.cr-grey {
    color: #a8a8a8 !important;
}

.cr-red {
    color: #e74856 !important;
}

.cr-blue {
    color: #00b7c3 !important;
}

.rem-08 {
    font-size: 0.8rem;
}

.chart-loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: 80px auto 0 auto;
}