div.card-content {
    border-color: #FFF;
}

div.chart-header {
    display: block;
    padding-bottom: 0rem;
    border-bottom: 0px;
    background-color: #002D40;
    color: #FFF;
}

@media only screen and (max-width: 720px) {
    div.chart-container {
        height: 240px;
    }
}

@media only screen and (min-width: 721px) {
    div.chart-container {
        height: 360px;
    }
}

.card-header {
    padding-top: .2rem;
}

blockquote.top-info {
    font-size: 1.25rem;
    border-color: #002D40;
    max-width: 850px;
}

div.header-ui {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h6.header-symbol-currency {
    margin-top: 0.40rem;
    margin-bottom: 0px;
    color: #EEE;
}

ul.header-chart-timeframe {
    margin-left: 1.0rem;
    margin-bottom: -1px;
}

a.nav-link-chart-header {
    padding: .2rem .5rem;
}

#chart-canvas {
    display: block;
}
