div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 720px) {
    ul.currency-list {
        width: 100%;
        max-width: 720px;
        min-width: 280px;
    }

    div.lead-content-large {
        display: none !important;
    }

    blockquote.lead-content-small {
        display: block !important;
    }
}

@media only screen and (min-width: 721px) {
    ul.currency-list {
        width: 300px;
    }
    
    div.lead-content-large {
        display: block !important;
        margin-left: 1.5rem;
    }

    blockquote.lead-content-small {
        display: none !important;
    }
}

canvas.preview {
    display: block;
    float: right;
}

div.center {
    display: inline-block;
    margin: 0 auto;
    width: 1px;
}

div.currency-list-item {
    text-align: center;
}

div.currency-list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .25rem;
}

div.symbol-logo {
    width: 40px;
    height: 40px;
    margin-right: .6rem;
    background-color: #002D40;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

div.currency-symbol-price {
    white-space: nowrap;
    text-align: left;
    float: left;
    width: 140px;
}