div.adv-placeholder {
    background-color: #999999;
    width: auto;
    height: 100px;
}

div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

div.lead-content-large {
    display: none;
    margin-left: 1.5rem;
}

#lead-content-small {
    border-color: #002D40;
    display: none;
}

canvas.preview {
    display: block;
    float: right;
}

div.center {
    display: inline-block;
    margin: 0 auto;
    width: 1px;
}

#lead-img {
    width: 100%;
}

#currency-list {
    width: auto;
    max-width: 700px;
    min-width: 340px;
}

div.currency-list-item {
    text-align: center;
}

#currency-list-header {
    background-color: #002D40;
    color: #EEE;
}

div.currency-symbol-price {
    text-align: left;
    float: left;
    width: 165px;
}

#news-list-header {
    background-color: #002D40;
    color: #FFF;
}