@media all and (max-width: 720px) {
    div.md5-4acedbc1-vertical {
        display: none;
    }
}

@media all and (min-width: 721px) {
    div.md5-4acedbc1-vertical {
        display: block;
        min-width: 300px;
        width: 300px;
    }
}

@media all and (max-width: 1085px) {
    div.md5-4acedbc1-single-01 {
        display: none;
    }
}

@media all and (min-width: 1086px) {
    div.md5-4acedbc1-single-01 {
        display: block;
    }
}