@media all and (max-width: 720px) {
    .top-news-list-item img  {
        width: 120px;
        max-width: 120px;
        margin-right: .7rem;
    }

    .top-news-list-item title {
        width: 120px;
        max-width: 120px;
    }

    .top-news-list-item p {
        max-height: 100px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}

@media all and (min-width: 721px) {
    .top-news-list-item img  {
        width: 300px;
        max-width: 300px;
        margin-right: .7rem;
    }

    .top-news-list-item p {
        max-height: 145px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}

@media all and (max-width: 400px) {
    .top-news-list-item img  {
        display: none;
    }

    .top-news-list-item p  {
        max-height: 100px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
}

.short-news-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-news-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.2rem;
}

.top-news-list-item text {
    min-width: 280px;
}

.news-list-item {
    margin-bottom: 1.7rem;
}

.news-list-item p {
    max-height: 75px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.md5-4acedbc1-mr {
    margin-right: 1.7rem;
}