li.news-list-header {
    background-color: #002D40;
    color: #FFF;
}

li.news-list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}