{% if key == "vertical-01" %}
    <div id="md5-4acedbc1-vertical-01" class="md5-4acedbc1-vertical {{ classes }}">

        <span id="ct_Z9jJZ9"></span>

        <div class="separator-large"></div>

        <a target="_blank" href="https://www.bestchange.ru/?p=239302">
            <img 
                src="http://www.bestchange.ru/images/banners/300x250-6.gif"
                alt="Самые низкие курсы обменников"
                title="BestChange.ru - Мониторинг обменников в интернете"
                width="300" height="250" border="0"
            />
        </a>

        <div class="separator-large"></div>

        <div id="mmgp-mwa-block-block59a4374beae43rGBaOfp">
            <script async type="text/javascript" src="//adsmmgp.com/api?hash=block59a4374beae43rGBaOfp"></script>
        </div>

    </div> 
{% endif %}


{% if key == "vertical-02" %}
    <div id="md5-4acedbc1-vertical-02" class="md5-4acedbc1-vertical {{ classes }}">

        <span id="ct_Z9jJZ9"></span>

        <div class="separator-large"></div>

        <a target="_blank" href="https://www.bestchange.ru/?p=239302">
            <img
                src="http://www.bestchange.ru/images/banners/300x250-8.jpg"
                alt="Самые низкие курсы обменников"
                title="BestChange.ru - Мониторинг обменников в интернете"
                width="300" height="250" border="0"
            />
        </a>

        <div class="separator-large"></div>

        <div id="mmgp-mwa-block-blockpaDJqWK59b06f5e0e550">
            <script async type="text/javascript" src="//adsmmgp.com/api?hash=blockpaDJqWK59b06f5e0e550"></script>
        </div>

    </div> 
{% endif %}

{% if key == "single-01" %}
    <div id="md5-4acedbc1-single-01" class="md5-4acedbc1-single-01 {{ classes }}">
        <span id="ct_BO25U4"></span>
    </div>
{% endif %}