{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/adv.css">
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/static/img/favicon.ico?1" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/favicon.ico?1" sizes="32x32">

    

    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    
    <title>{% block title %}Currencr.me{% endblock %}</title>
    {% block head %}
    {% endblock %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3894518295307488",
        enable_page_level_ads: true
      });
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-102498894-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div class="container">
        <div class="separator-medium"></div>
        <div class="page-header">
            <a href="/">
                <div class="logo">
                    <img src="/static/img/logo-beta.png" class="logo" />
                </div>
            </a>
            {% block header %}
            {% endblock %}
        </div>
        <ul>
        {% comment %}
        {% for lang in LANGUAGES %}
        <li>
            <a href="https://{{ lang.0 }}.currencr.me">{{lang.1}}</a>
        </li>
        {% endfor %}
        {% endcomment %}
        </ul>
        <div class="separator-large"></div>
        {% block content %}
        {% endblock %}
        <div class="separator-small"></div>
        <div class="footer">
            <div class="credits pt-1">
                <p class="mb-1 ml-4 white bold">currencr.me@gmail.com</p>
                <p class="mb-0 ml-4 white small">Akhtyamov Ruslan</p>
                <p class="mb-0 ml-4 white small">Zygin Igor</p>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
