{% load i18n %}
{% load static %}
<script>
    var link = document.createElement("link");
    link.setAttribute("rel", "stylesheet");
    link.setAttribute("type", "text/css");
    link.setAttribute("href", "{% static "css/cr-core.css" %}");
    document.head.appendChild(link);
</script>
<div class="layout-horizontal rem-08 mb-2">
    <div class="mr-4">
        <p class="cr-grey mb-1">TIMEFRAME</p>
        <div class="text-white">
            {% for item in timeframes %}
            <a href="./?exchange={{ exchange }}&timeframe={{ item }}" class="timeframe-lnk mr-2{% if item == timeframe %} cr-blue{% endif %}">
                {% with item|add:"_short" as item_short %}
                {% trans item_short %}
                {% endwith %}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="mr-4 mt-2">
        <label class="switch">
            <input id="{{ canvas }}_checkbox" type="checkbox" checked>
            <span class="slider round"></span>
           <span class="label">Forecast</span>
        </label>
    </div>
</div>
<div id="{{ container }}" class="chart-container">
    <div id="{{ canvas }}_loader"class="loader chart-loader"></div>
    <canvas id="{{ canvas }}">{{ name }}</canvas>
</div>
<script src="{% static "js/chart-lib.js" %}"></script>
<script src="{% static "js/cr-chart.js" %}"></script>
<script src="{% static "js/cr-core.js" %}"></script>
<script>
    createChart(
        "{{ code }}",
        "{{ exchange }}",
        "{{ timeframe }}",
        "{{ canvas }}",
        "{{ container }}"
    );
</script>