{% extends 'base.html' %}
{% block js %}
<!-- CreateJS -->
<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
<!-- Chart -->
<script src="/static/js/chart-lib.js"></script>
<script src="/static/js/chart-viewer.js"></script>
{% endblock %}
{% block content %}
<div id="currency_container" class="container">
    <h1>{{ currency.name }}</h1>
    <h3 >{{ currency.code }}</h3>
    <h4>{{ currency.money_symbol }} {{ currency.current_price }} </h4>
    <canvas id="chart_canvas_0">empty</canvas>
    <script>cv.init("{{ currency.code }}", "chart_canvas_0", "currency_container")</script>
    <span>{{ currency.description }}</span>
    
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = https://currencr.me/{{ currency.code }}/;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = {{ currency.code }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://surrencr.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endblock %}