{% extends 'base.html' %}
{% load i18n %}
{% block title %}Currencr.me - Прогноз будущего курса для {{ currency.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/currency.css">
{% endblock %}
{% block js %}
<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
{% endblock %}
{% block content %}
<div class="page-content">
    <blockquote class="blockquote top-info">
        <h2 class="mb-2 mt-0">Текущий курс и прогноз для {{ currency.name }}.</h2>
        <p class="mb-1 regular">Прогноз и цена формируется на основе данных биржи <a href="https://www.kraken.com/charts" target="_blank">kraken.com</a></p>
        <p class="mb-0 thin">Постоянно проверяйте состояние прогноза. В случае неожиданной динамики курса - прогноз будет актуализирован.</p>
    </blockquote>
    <div class="card card-content">
        <div class="card-header chart-header">
            <div class="header-ui">
                <h6 class="header-symbol-currency">
                    {{ currency.code }} {{ currency.money_symbol }}{{ currency.current_price|floatformat:3 }}
                </h6>
                <ul class="nav nav-tabs card-header-tabs header-chart-timeframe">
                    <li>
                        <a class="nav-link active" href="./" style="background-color: #e8f8ff;">1M</a>
                    </li>
                    <li>
                        <a class="nav-link disabled">1H</a>
                    </li>
                    <li>
                        <a class="nav-link disabled">1D</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="chart-container" class="content-item">
            <canvas id="chart-canvas">empty</canvas>
            <script src="/static/js/chart-lib.js"></script>
            <script src="/static/js/cr-chart.js"></script>
            <script src="/static/js/chart-init.js"></script>
            <script>
                ci.init("{{ currency.code }}", "chart-canvas", "chart-container")
            </script>
        </div>
    </div>

    <div class="separator-medium"></div>
    <blockquote class="blockquote red mb-0">
        <stroh3ng>{% trans "Warning!" %}</strong><br />
        <p class="mb-2">{% trans "Denial of responsibility" %}</p>
    </blockquote>

    {% include "new.html" with news_list=news_list adv_key="adv-dynamic-block-news-01" %}
    
    <div class="separator-large"></div>
    <div id="disqus_thread"></div>
    <script>
            (function () {
                var d = document, s = d.createElement('script');
                s.src = 'https://surrencr.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
    </script>
</div>
{% endblock %}
