{% extends 'base.html' %} {% block css %} {% endblock %} {% block js %}
<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
{% endblock %} {% block content %}
<div class="page-content">

    <div class="card" style="border-color: #FFF;">
        <div class="card-header" style="background-color: #002D40; color: #FFF; display: block; padding-bottom: 10px;">
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                <h6 style="margin-top: 12px; margin-bottom: 0px; color: #EEE;">
                    {{ currency.code }} {{ currency.money_symbol }}{{ currency.current_price|floatformat:3 }}
                </h6>
                <ul class="nav nav-tabs card-header-tabs" style="margin-left: 20px;">
                    <li class="nav-item">
                        <a class="nav-link active" href="./" style="background-color: #e8f8ff;">1M</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">1H</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">1D</a>
                    </li>
                </ul>
                <!--<div class="dropdown" style="margin-left: 200px">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="background-color: #e8f8ff;">Прогноз A (60 min.)</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #e8f8ff;">
                        <a class="dropdown-item" href="#">Прогноз A (60 min.)</a>
                        <a class="dropdown-item disabled" href="#">Прогноз B (60 min.)</a>
                        <a class="dropdown-item disabled" href="#">Прогноз C (60 min.)</a>
                    </div>
                </div>-->
            </div>
        </div>
        <div id="chart-container" class="content-item">
            <canvas id="chart-canvas" style="display: block;">empty</canvas>
            <script src="/static/js/chart-lib.js"></script>
            <script src="/static/js/cr-chart.js"></script>
            <script src="/static/js/chart-init.js"></script>
            <script>
                ci.init("{{ currency.code }}", "chart-canvas", "chart-container")
            </script>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" style="margin-bottom: 10px; margin-top: 20px;">
        <strong>Обратите внимание, </strong>что вы самостоятельно выбираете свою торговую стратегию и мы не несём ответственности за ущерб связанный с использованием информации размещенной на данной странице.
    </div>

    {% if news_list %}
    <ul class="list-group" style="margin-bottom: 30px; margin-top: 20px;">
        <li class="list-group-item" style="background-color: #002D40; color: #FFF;">Новости</li>
        {% for new in news_list %}
        <li class="list-group-item list-group-item-action">
            <a href="/news/{{ new.id |escape}}/">{{ new.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="disqus_thread" style="margin-bottom: 10px; margin-top: 20px;"></div>
    <script>
            (function () {
                var d = document, s = d.createElement('script');
                s.src = 'https://surrencr.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
    </script>
</div>
{% endblock %}
