{% extends 'base.html' %}
{% block content %}
        {% with search=request.GET.search %}
        <form action="" method="get">
            <input name="search" type="text" value="{{ search }}">
            <input type="submit">
        </form>
        {% if search %}
            Результаты поиска для {{ search }}
        {% endif %}
        {% endwith %}
        <ul  class="list-group">
        {% for currency in currency_list %}
            <li class="list-group-item">
                <a href="/{{ currency.code }}/">{{ currency.name }}</a>
                {% if currency.exchange > 0 %}<b style="margin-left:10px;">{{ currency.code }}</b>{% endif %}
                <span style="margin-left:10px">{{ currency.current_price|floatformat:2 }}</span>
                <span style="margin-left:10px" class="{% if currency.up %}text-success{% elif currency.down %}text-danger{%endif%}">({{ currency.percents|floatformat:3 }} %)</span>
            </li>
        {% endfor %}
        </ul>

        {% if news_list %}
                    <h4>News</h4>
                    <ul  class="list-group">
                    {% for new in news_list %}
                        <li class="list-group-item">
                            <a href="/news/?id={{ new.id }}">{{ new.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
        {% endif %}
{% endblock %}