{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Currencr · cryptocurrency exchange rates, news and forecasts" %}{% endblock %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">
    <meta property="og:site_name" content="currencr.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% trans "Currencr · cryptocurrency exchange rates, news and forecasts" %}">
    <meta property="og:description" content="{% trans "Graphs with detailed minute forecasts, based on the work of neural networks and algorithms of statistical analysis." %}">
    <meta property="og:image" content="https://currencr.me/static/img/screen.png">
    <meta name="twitter:card" content="{% trans "Graphs with detailed minute forecasts, based on the work of neural networks and algorithms of statistical analysis." %}">
    <meta name="twitter:title" content="Currencr - {% trans "Exchange rate, news and forecasts" %}">
    <meta name="twitter:description" content="{% trans "Graphs with detailed minute forecasts, based on the work of neural networks and algorithms of statistical analysis." %}">
    <meta name="twitter:image" content="https://currencr.me/static/img/screen.png">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/list-core.css" %}">
{% endblock %}

{% block js %}
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
{% endblock %}

{% block header %}
    <div class="logo">
        <a href="/"><img src="{% static "img/logo-beta.png" %}" class="logo"></a>
    </div>
{% endblock %}

{% block content %}
    <div class="w-100 content">
        <p class="cr-grey mb-0 rem-08">{% trans "EXCHANGE" %}</p>
        <a class="rem-08 cr-yellow">{{ exchange }}</a>
        <div class="separator-large"></div>
        <div>
            <script src="/static/js/chart-lib.js"></script>
            <script src="/static/js/preview-chart.js"></script>
            <script src="/static/js/list-core.js"></script>
            <ul class="list w-100 m-0 p-0">
                {% for currency in currency_list %}
                <li class="preview d-inline-block rem-1 align-top">
                    <div id="preview-cont-{{ currency.name }}" class="preview w-100 mb-2">
                        <canvas class="preview" id="preview-canvas-{{ currency.name }}">
                            {{ currency.name }}
                        </canvas>
                    </div>
                    <a href="/{{ currency.url_code }}/" class="mb-0 cr-white" data-currency="{{ currency.code }}" data-quote="USD">
                        {{ currency.code }}/USD
                    </a>
                    {% for quote in quote_list %}
                        {% ifnotequal currency.code quote.code %}
                            <br />
                            <a href="/{{ currency.url_code }}/" class="mb-0 cr-grey" data-currency="{{ currency.code }}" data-quote="{{ quote }}">
                                {{ currency.code }}/{{ quote.code }}
                            </a>
                        {% endifnotequal %}
                    {% endfor %}
                </li>
                <script>
                    (function() {
                        var cUSD = {{ currency.USD }};
                        var preview = {
                            chart: addPreviewChart(
                                "preview-canvas-{{ currency.name }}",
                                "preview-cont-{{ currency.name }}",
                                "{{ currency.name }}"
                            ),
                            USD: cUSD
                        }
                        var qUSD = {};
                        {% for quote in quote_list %}
                            qUSD.{{ quote.code }} = {{ quote.USD }};
                            {% ifnotequal currency.code quote.code %}
                                preview.{{ quote.code }} = cUSD.map(function(item, index) {
                                    return item / qUSD.{{ quote.code }}[index]
                                })
                            {% endifnotequal %}
                        {% endfor %}

                        window.previews.{{ currency.code }} = preview;

                        preview.chart.setPreview(cUSD);
                    })();
                </script>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}