{% load i18n %}
{% if news_list %}
<div class="separator-large"></div>
<ul class="list-group">
    <li class="list-group-item news-list-header">
        <h5 class="mt-0 mb-1">{% trans "News" %}</h5>
    </li>
    
    {% if adv_key %}
        {% include "adv.html" with key=adv_key %}
    {% endif %}

    {% for new in news_list %}
    <li class="list-group-item list-group-item-action news-list-item">
        <h5><a href="/news/{{ new.id }}/">{{ new.title }}</a></h5>
        <p class="mb-0 thin">{{ new.summary }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}