{% load i18n %}
{% if news_list %}
    <style type="text/css"> @import url("/static/css/new-list.css"); </style>
    <div class="news-list">
        <div class="separator-large"></div>
        <div class="top-news-list">
            {% for new in top_news_list %}
                <div class="top-news-list-item">
                    {% if new.image %}
                        <img src="{{new.image}}" class="img-thumbnail">
                    {% endif %}
                    <div class="text">
                        <h5 class="mb-1 title">
                            <a href="/news/{{ new.id }}/">{{ new.title }}</a>
                        </h5>
                        <p class="mb-2 regular">{{ new.summary }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="short-news-list">
            {% if adv_key %}
                {% include "adv.html" with key=adv_key classes="md5-4acedbc1-mr mt-1" %}
            {% endif %}
            <div>
                {% for new in news_list %}
                    <div class="news-list-item">
                        <h5 class="mb-1 title">
                            <a href="/news/{{ new.id }}/">{{ new.title }}</a>
                        </h5>
                        <p class="mb-2 regular">{{ new.summary }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}