{% load i18n %}
{% if news_list %}
    <style type="text/css"> @import url("/static/css/new-list.css"); </style>
    <div class="separator-large"></div>
    <div class="news-list-full">
        <ul class="list-group">
            {% for new in top_news_list %}
            <li class="list-group-item list-group-item-action top-news-list-item">
                <div class="top-news-list-item">
                    {% if new.image %}
                        <img src="{{new.image}}" class="img-fluid top-news-img">
                    {% endif %}
                    <div class="mt-2">
                        <h5 class="mb-2">
                            <a href="/news/{{ new.id }}/">{{ new.title }}</a>
                        </h5>
                        <p class="mb-2 regular">{{ new.summary }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="separator-medium"></div>
        <div class="news-list-bottom">
            {% if adv_key %}
                <div class="vertical-left">
                    {% include "adv.html" with key=adv_key  %}
                </div>
            {% endif %}
            <ul class="list-group">
                {% for new in news_list %}
                <li class="list-group-item list-group-item-action news-list-item">
                    <h5 class="mt-2 mb-2">
                        <a href="/news/{{ new.id }}/">{{ new.title }}</a>
                    </h5>
                    <p class="mb-2 regular">{{ new.summary }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}