{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="MobileOptimized" content="176">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">
    <meta property="og:site_name" content="Currencr.me">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.summary }}">
    {% if article.image %}
        <meta property="og:image" content="{{ article.image }}">
    {% endif %}
    <meta name="twitter:card" content="{{ article.summary }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.summary }}">
    {% if article.image %}
        <meta name="twitter:image" content="{{ article.image }}">
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% block title %}{{ article.title }} | Currencr{% endblock %}
    
{% block content %}
    <div id="page-content" class="content">
        <div class="new-content">
            <div>
                <div class="new-header">
                    <header>
                        <blockquote class="simple-title">
                            <h2 class="mb-2 mt-0">{{ article.title }}</h2>
                        </blockquote>
                    </header>
                    {% if article.image %}
                        <center><img src="{{article.image}}" class="img-thumbnail"></center>
                        <div class="separator-medium"></div>
                    {% endif %}
                </div>
                <article class="regular">
                    {{ article.text | safe}}
                    <a href="{{ article.link }}" target="_blank">Источник</a>
                </article>
            </div>
            {% include "adv.html" with key="vertical-01" classes="md5-4acedbc1-ml" %}
        </div>
        <div class="separator-medium"></div>
        {% include "comments.html" %}
    </div>
{% endblock %}